:root
  --primary-background: #ffffff
  --secondary-background: #c9c9c9
  --primary: #408264
  --primary-hover: #377a5c
  --primary-text: #011219

[data-theme="dark"]
  --primary-background: #00171f
  --secondary-background: #16272c
  --primary: #408264
  --primary-hover: #559a7a
  --primary-text: #f3f9e3

// ------- FLEX

@mixin f()
  display: flex

@mixin f-al-c()
  @include f()
  align-items: center

@mixin f-jc-c()
  @include f()
  justify-content: center

@mixin f-center()
  @include f-al-c()
  @include f-jc-c()

// ------- FONT

@mixin font($size, $family, $weight)
  font-size: $size
  font-family: $family
  font-weight: $weight

@mixin font-primary($size: 1rem, $weight: auto)
  @include font($size, "Roboto", $weight)
